//$color-primary: #FFDCED;
$color-primary: #f9c7cd;
$color-primary-shadow: #be999e;
$color-secondary: #EFEFEF;
//#FFF8EF
$color-accent: #FF6699;
$color-font: #333333;
$color-font-light: #888;
$color-dark: #444;

$font-logo: 'Inknut Antiqua', serif;
$font-special: 'Inria Sans', sans-serif;
$font-text: 'Inria Serif', serif;