// Color primary and hues
$color-primary: #f9c7cd;
$color-primary-dark: #F5A3AD;
$color-primary-shadow: #be999e;

//Color secondary
$color-secondary: #EFEFEF;

// Color accent
$color-accent: #CF6773;
//$color-accent: #FF6699; 

// Dark background, footer
$color-dark: #444;

//Fonts
$font-logo: 'Inknut Antiqua', serif;

$font-special: 'Inria Sans', sans-serif;
//$font-special: 'Inria Serif', serif;

$font-text: 'Inria Sans', sans-serif;
//$font-text: 'Inria Serif', serif;

$color-font: #333333;
$color-font-light: #888;

// Other options
//#FCE4E7 light pink
//#FFF0E6 light beige