@use '../utils/var';
@use '../layout/collection';

.blog{

    &__grid{
    @media screen and (min-width: 680px){
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
        padding-bottom: 4rem;;
    }
    }
    
    &__post{
        background-color: var.$color-secondary;
        border-radius: 5px;
        box-shadow: 0 0 10px var.$color-primary-shadow;
        @media screen and (max-width: 679px){
            margin-bottom: 2rem;
        }
    }
    
    
    &__photo{
        width: 100%;
        @media screen and (min-width: 680px){
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 5px 5px 0 0;
        }
    }

    &__postcontainer{
        padding: 2rem;
    }

    &__date{
        color: var.$color-accent;
        font-family: var.$font-special;
        font-size: 1.3rem;
        font-weight: 600;
    }

    &__title{
        font-size: 2rem;
    }

    &__perex{
        font-size: 1.5rem;
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }

    &__link{
        color: var.$color-font-light;
        font-size: 1.3rem;
    }
    
}