@use '../utils/var';
@import '../utils/breakpoints';

.reviews{
    padding-top: 3rem;

    @include pc{

        grid-column: 1/6;
        padding-top: 8rem;
    }
}

.review{
    
    &__post{
        margin-bottom: 2rem;
        background-color: var.$color-secondary;
        border-radius: 5px;
        box-shadow: 0 0 10px var.$color-primary-shadow;


        @include pc{
            display: grid;
            grid-template-columns: 2fr 3fr;
            margin-bottom: 6rem;
        }
    }

   &__photo{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px 5px 0 0;
        @include pc{
            border-radius: 5px 0 0 5px;
        }
    }

    &__desc{
        padding: 2rem;

        @include pc{
            padding-left: 2rem;
        }
    }

    &__date{
        color: var.$color-accent;
        font-family: var.$font-special;
        font-size: 1.3rem;
        font-weight: 600;
    }

    &__title{
        font-size: 2rem;
    }

    &__perex{
        font-size: 1.5rem;        
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }

    &__link{
        color: var.$color-font-light;
        font-size: 1.3rem;
    }

    &__video{
        width: 100%;
        height: auto;
        aspect-ratio: 1.7777/1;
    }
}