<div class="background--dark">
  <div class="wrapper">
    <footer class="footer">
      <div class="footer__content grid">
        <!--
          {% include 'partials/newsletter-footer.njk' %}
        -->

        <div class="footer__blank"></div>

        <div class="footer__topics">
          <a class="footer__title" href="/ze-zivota/">Ze života</a>
          <a class="footer__link" href="/ze-zivota/personal/">Osobní</a>
          <a class="footer__link" href="/ze-zivota/interview/">Rozhovory</a>
        </div>

        <div class="footer__topics">
          <a class="footer__title" href="/recenze-kurzu/">Recenze kurzů</a>
          <a class="footer__link" href="/tags/htmlcss/">HTML&CSS</a>
          <a class="footer__link" href="/tags/javascript/">JavaScript</a>
        </div>
      </div>

      <div class="footer__contact">
        <a class="footer__author">@ 2023 Katykola</a>
        <div class="footer__sectionsocials">
          <a class="footer__socials">Instagram</a>
          <a
            class="footer__socials"
            href="https://www.linkedin.com/in/katerinakolar/"
            target="_blank"
            >LinkedIn</a
          >
          <a class="footer__socials">GitHub</a>
        </div>
      </div>
    </footer>
  </div>
</div>
