<div class="header--color">
  <div class="wrapper wrapper--nopadding">
    <header id="myHeader" class="header">
      <!--Logo-->
      <a href="/" id="myLogo" class="logo">Mama koduje</a>
      <!--Menu-->
      {% include 'partials/menu.njk' %}
    </header>
  </div>
</div>
