<div class="footer__newsletter">
  <p class="footer__title">Newsletter</p>
  <div class="newsletter newsletter--footer">
    <input class="newsletter__input" type="email" placeholder="Tvůj e-mail" />
    <button class="btn btn--primary">Přihlásit</button>
  </div>
</div>
