<div class="sidebartitle">
  <p class="sidebartitle__name">Newsletter</p>
</div>
<div class="newsletter newsletter--sidebar">
  <p class="newsletter__tag">O nic nepřijdeš</p>
  <p class="newsletter__desc">
    Nech mi tu svůj e-mail a budou ti chodit do schránky nové články
  </p>
  <input class="newsletter__input" type="email" placeholder="Tvůj e-mail" />
  <button class="btn btn--block btn--primary">Přihlásit</button>
</div>
