<div class="tag__container">
  <a
    class="tag {{ 'tag--active' if page.url === '/ze-zivota/personal/' }}"
    href="/ze-zivota/personal/"
    >Osobní</a
  >
  <a
    class="tag {{ 'tag--active' if page.url === '/ze-zivota/interview/' }}"
    href="/ze-zivota/interview/"
    >Rozhovory</a
  >
</div>
