<div class="tag__container">
  <a
    class="tag {{ 'tag--active' if page.url === '/ze-zivota/osobni/' }}"
    href="/ze-zivota/osobni/"
    >Osobní</a
  >

  <!--
    <a
      class="tag {{ 'tag--active' if page.url === '/ze-zivota/rozhovory/' }}"
      href="/ze-zivota/rozhovory/"
      >Rozhovory</a
    >
  -->
</div>
