<div class="tag__container">
  <a
    class="tag {{ 'tag--active' if page.url === '/recenze-kurzu/htmlcss/' }}"
    href="/recenze-kurzu/htmlcss/"
    >HTML&CSS</a
  >
  <!---
    <a
      class="tag {{ 'tag--active' if page.url === '/recenze-kurzu/javascript/' }}"
      href="/recenze-kurzu/javascript/"
      >JavaScript</a
    >
  -->
</div>
