@use '../utils/var';
@import '../utils/breakpoints';


.footer{
    padding-bottom: 1rem;
    align-self: flex-end;

    @include pc {
        grid-column: 2/7;
        padding-top: 6rem;
        padding-bottom: 2rem;
    }

    &__content{

        @include tablet-max{
            display: none;
        }

        @include tablet-min{
        max-width: 1400px;
        padding-top: 3rem;
        border-top: 1px solid rgba(255, 255, 255, 0.544);
        border-bottom: 1px solid rgba(255, 255, 255, 0.544);
        margin: auto;
        }
    }

    &__blank{
        grid-column: 4/6;
    }

    &__topics{
        margin-bottom: 2rem;

        @include tablet-min{
            margin-bottom: 4rem;
        }
    }

    &__title{
        margin: 0;
        padding-bottom: 2rem;
        color: white;
        font-family: var.$font-special;
        font-weight: 600;
        font-size: 1.5rem;

        &:hover{
            color: var.$color-accent;
        }

        @include tablet-min{
            font-size: 1.5rem;
        }
    }

    &__link{
        display: block;
        line-height: 2;
        text-decoration: none;
        color: white;
        font-family: var.$font-special;
        font-size: 1.5rem;
        font-weight: 300;
        margin: 0;

        &:hover{
            color: var.$color-accent;
        }
    }

    &__contact{
        display: flex;
        justify-content: space-between;
        max-width: 1400px;
        margin: auto;
        padding-top: 1rem;

        &--hp{
            margin: 0;
            padding: 1rem 2rem;
            max-width: none;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }

    &__author{
        color: rgba(255, 255, 255, 0.544);
        font-size: 1.5rem;
        font-weight: 300;
        font-family: var.$font-text;
        &:hover{
            color: var.$color-accent;
            cursor: pointer;
        }
        @include mobile{
            font-size: 1.4rem;
        }

    }

    &__socials{
        color: rgba(255, 255, 255, 0.544);
        font-family: var.$font-special;
        font-weight: 300;
        font-size: 1.5rem;            
        padding-left: 1rem;

        &:hover{
            color: var.$color-accent;
            cursor: pointer;
        }
        @include mobile{
            font-size: 1.3rem;
        }
        @include tablet-min{
            padding-left: 2rem;
        }
    }
}