@use '../utils/var';
@import '../utils/breakpoints';

//Pagecontainer

.pagecontainer{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var.$color-primary;

    &__content{
        min-height: 100dvh;

    }
}

//Grid

.grid{
    
    @include pc{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 6rem;
    }
}

// Wrapper

.wrapper{
    max-width: 1200px;
    margin: auto;

    @include mobile{
        padding: 0 2rem;
    }
    @media screen and (min-width:680px) and (max-width: 1300px){ 
        padding: 0 4rem;
    }

    &--nopadding{
        @include mobile{
            padding: 0;
        }
    }
}

// Background

.background{

    &--primary{
        background-color: var.$color-primary;
    }

    &--secondary{
        background-color: var.$color-secondary;
    }

    &--dark{
        background-color: var.$color-dark;
    }

}