@use '../utils/var';

.pagecontainer{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

//Grid

.grid{
    
    @media screen and (min-width: 680px){
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 6rem;
    }
}

// Wrapper

.wrapper{
    max-width: 1200px;
    margin: auto;

    @media screen and (max-width: 679px){
        padding: 0 2rem;
    }
    @media screen and (min-width:680px) and (max-width: 1300px){ 
        padding: 0 4rem;
    }

    &--nopadding{
        @media screen and (max-width: 679px){
            padding: 0;
        }
    }
}

// Background

.background{

    &--primary{
        background-color: var.$color-primary;
    }

    &--secondary{
        background-color: var.$color-secondary;
    }

    &--dark{
        background-color: var.$color-dark;
    }

}