@use '../utils/var';
@import '../utils/breakpoints';

// Header

.header{
    border-bottom: 1px solid #6666664a;

@include pc{
    grid-column: 2 / 7;
    padding-bottom: 2rem;
    border: none;
    }

&--color{
    background-color: var.$color-primary;
    @include pc{
        background-color: var.$color-primary;
    }
}

/*
&--sticky{
padding-bottom: 1rem;
z-index: 7;
position: fixed;
top: 0;
left: 0;
width: 100%;
grid-column: 1 / -1;
justify-content: space-between;
align-items: center;
background-color: var.$color-primary;

@include pc{
    display: flex;
    background-color: var.$color-accent;
    padding: 0 3rem;
}
}
*/

}

// Logo

.logo{
display: block;
font-family: var.$font-logo;
color: var.$color-font;
font-size: 2.5rem; 
font-weight: 500; 
margin: 0;
text-align: center;
text-decoration: none;


@include mobile{
    display: inline;
    padding-left: 2rem;
}

@include pc {
    font-size: 7rem;
    padding: 4rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var.$color-font;
}

&--hp{
    color: white;

    @include pc {
        border-bottom: 1px solid white;
    }
}

&--sticky{
    color: var.$color-font;
    font-size: 2rem;
    border: none;
    padding: 0;
    padding-left: 1rem;
    margin: 0;

}
}

// Menu

.menu{

@include pc{
    flex-direction: row;
    justify-content: space-between;
}

&__checkbox{
    position: absolute;
    left: -9999px;    
}

&__toggler{
    position: absolute;
    right: 2rem;
    top: 1rem;
    //color: white;
    @include pc{
        display: none;
    }
    &--hp{
        @include mobile{
            color: white;
        }
    }
}

&__list{
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;    

    @include mobile{
        background-color: var.$color-primary;
    }
}

&__line{ 
    display: none;
    height: 1px;
    width: 100%;
    background-color: white;
}

&__item{
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 300;
    color: var.$color-font;
    padding: 1rem;
    border-bottom: 1px solid var.$color-font;
    &:first-of-type{
        border-top: 1px solid var.$color-font;
        @include pc{
            border: none;
        }
    }
    &:last-of-type{
        border-bottom: none;
    }
    &:hover{
        color: white;
    }

    &--hp{
        color: white;
        &:hover{
            color: var.$color-accent;
        }
    }

    @include mobile{
        color:  var.$color-font;
    }

    @include pc{
        padding: 1rem 2rem;
        border: none;
    }
}
}

@include mobile{

    .menu__checkbox:checked ~ .menu__list{
        display: block;
        position: absolute;
        width: 100%;
    }

    .header:has(.menu__checkbox:checked) {
    background-color: var.$color-primary;
    }

    .header:has(.menu__checkbox:checked) .logo,
    .header:has(.menu__checkbox:checked) .menu__toggler{
        color: var.$color-font;
    }

}

@include pc{
.menu__list{
    display: flex;
    justify-content: space-between;
}
}