@use '../utils/var';
@import '../utils/breakpoints';

.sidebar{
    
    grid-column: 6/8;
    margin-left: 4rem;
    padding-top: 8rem;

    
    @include mobile{
        display: none;
    }

    &__content{
        background-color: var.$color-primary-dark;
        padding: 4rem;
        padding-bottom: 2rem;
        position: sticky;
        margin-bottom: 4rem;
    }
    
    &__post{
        margin-bottom: 4rem;
        box-shadow: 0 0 10px var.$color-primary-shadow;
        background-color: var.$color-secondary;
    }

    &__photo{
        width: 100%;
    }
    &__text{
        padding: 1rem;
    } 
    &__date{
        margin: 0;
        color: var.$color-accent;
        font-family: var.$font-special;
        font-size: 1.3rem;
        font-weight: 600;
    }
    &__title{
        font-size: 1.6rem;
        margin: 0;
    }
    &__link{
        font-size: 1.3rem;
        margin: 0;
        color: var.$color-font-light;
    }
}


.sidebartitle{
    position: relative;
    
    &__name{
        margin: 0;
        transform: rotate(-90deg);
        position: absolute;
        top: 3rem;
        left: -6rem;
        font-family: var.$font-special;
        color: white;
        font-weight: 300;
    }
}