@use '../utils/var';
@import '../utils/breakpoints';

html {
    font-size: 62.5%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  .small,
  .smaller,
  a {
    font-family: var.$font-special;
    color: var.$color-font;
    margin: 0;
    font-weight: 600;
  }
  
  h1 {
    font-size: 3.5rem;

    @include pc {
      font-size: 5rem;
    }

  }
  
  h2 {
    font-size: 3rem;
  
    @include pc {
      font-size: 3.3rem;
    }
  }
  
  h3 {
    font-size: 2.7rem;

    @include pc {
      font-size: 3rem;
    }

  }
  
  h4 {
    font-size: 2.5rem;

    @include pc {
      font-size: 2.5rem;
    }
  }
  
  h5 {
    font-size: 2.3rem;

   @include pc{
      font-size: 1.6rem;
    }

  }
  
  .small {
    font-size: 1.3rem;
  }
  
  .smaller {
    font-size: 1.1rem;
  }

  a{
    text-decoration: none;
  }
  
  body {
    color: var.$color-font;
    font-size: 1.8rem;
    line-height: 2;
    font-family: var.$font-text;
    font-weight: 300;
    margin: 0;
  }
 @include pc{
    body {
      font-size: 2rem;
    }
  }