---
layout: layouts/base.njk
---

<div class="pagecontainer">
  <div class="pagecontainer__content">
    <!--Header-->
    {% include 'partials/header.njk' %}
    <!--Content-->
    {{ content | safe }}
  </div>
  <!--Footer-->
  {% include 'partials/footer.njk' %}
</div>
